/*GLOBAL*/
* {
    margin: 0;
    padding: 0;
    /*border: .25px solid red;*/
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #999999;
}

a:visted {
    color: #999999;
}

body {
    margin: auto 0;
    font-family: sans-serif;
    background: url('./img/bg2.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    background-image: url('./img/bg.png');
    background-color: #26303e;
    padding: 25px 0;
}

.logo {
    max-width: 400px;
}

ul li {
    list-style: none;
}

/*NAVIGATION*/
.main-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #26303e;
    color: #fff;
    text-align: center;
    border-bottom: 3px solid #fff;
    margin-bottom: 25px;
}

.main-nav a {
    color: #fff;
    text-decoration: none;
}

.menu {
    width: 100%;
}

.menu li a {
    display: flex;
    justify-content: center;
    padding: 1em;
}


.main-nav li a:hover {
    background-color: #798d9f;
}


/*MAIN*/

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(26, 34, 64, .75);
    padding: 15px;
    margin-bottom: 25px;
    max-width: 350px;
}

.box:last-child {
    margin-bottom: 0;
}

.box hr {
    width: 50px;
    margin: 10px auto;
}

.box-style {
    text-align: center;
    color: #fff;
}

.box-style h3 {
    color: #46e2d0;
    margin: 0;
    padding-right: -50px;
}

.box-style p {
    font-size: .6em;
    margin: 0;
}

.serv-img {
    margin: 25px 0;
}

.zone {
    cursor:pointer;
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/*CONTACT*/

.contact {
    text-align: center;
    background-color: #26303e;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    color: #fff;
    margin: 25px 0 25px 0;
}

.contact h1 {
    font-size: 3em;
    margin: 0;
    padding: 25px;
}

.contact p {
    font-size: 1em;
    margin: 0 0 25px 0;
}

/*FOOTER*/

footer {
    background-color: #26303e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    color: #fff;
}

.logo {
    margin: 25px 0;
}

.info h2,
.social h2 {
    text-align: center;
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    margin-bottom: 25px;
}

.social img {
    max-width: 25px;
    padding: .5em;
}

.f-links {
    display: flex;
    flex-direction: column;
    font-size: .8em;
    padding: 2em;
    text-align: center;
}

.f-links li {
    padding: 1em;
}

.copyright {
    font-size: .8em;
    margin-bottom: 25px;
}

/*MEDIA QUERIES*/

@media only screen and (min-width: 720px){
    .menu {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
    }

    .container {
        flex-direction: row;
        align-items: flex-start;
    }

    .sticky {
        position: sticky;
        top: 0;
    }

    .social {
        margin-left: 50px;
    }

    .f-links {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1024px){
    .main {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .box {
        max-width: 300px;
        height: 375px;
        margin-bottom: 0;
    }

}

